

.cart-item{
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.first-cart-item {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
  
.last-cart-item {
border-bottom-left-radius: 5px !important;
border-bottom-right-radius: 5px !important;
}